@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slider-buttons {
    @apply bg-navy p-3 rounded-full shadow text-white focus:outline-none;
  }
  .tags {
    @apply px-3 py-2 border border-navy text-sm text-navy rounded-lg font-semibold;
  }
  .editProfileFormContainer {
    @apply flex max-xl:flex-wrap gap-8 mt-10;
  }
  .registrationFormContainer {
    @apply mt-10 flex flex-1 flex-col flex-wrap mx-auto;
  }
  .registrationForm {
    @apply flex flex-col items-center gap-3 mt-14;
  }
  .formRow {
    @apply flex max-xl:flex-col justify-start max-md:gap-6 md:gap-10 lg:gap-12;
  }
  .formInput {
    @apply max-sm:w-[260px] sm:w-[300px] md:w-[350px] lg:w-[380px] px-3 py-2.5 bg-button border-none rounded-md focus-visible:outline-none disabled:cursor-not-allowed text-black text-sm;
  }
  .formLabel {
    @apply text-[15px] text-black font-medium;
  }
  .filterCheckbox {
    @apply w-4 h-4 text-navy rounded-full;
  }
  .checkboxFlex {
    @apply flex items-center gap-3;
  }
  .ListBar {
    @apply bg-button w-full h-auto max-sm:px-5 sm:px-7 md:px-10 py-5 border-none rounded-md focus-visible:outline-none;
  }
  .functionsInput {
    @apply max-sm:w-[150px] sm:w-[200px] bg-button px-4 py-2 text-sm text-black rounded-md border border-gray-400 focus-visible:outline-none disabled:cursor-not-allowed;
  }
  .formContainer {
    @apply flex flex-1 flex-col justify-start gap-3;
  }
  .astrics {
    @apply text-navy text-sm;
  }
  .formNextButton {
    @apply bg-navy flex justify-center w-[100px] text-white text-base rounded-md px-8 py-2 focus-visible:outline-none;
  }
  .formBackButton {
    @apply border border-navy px-8 py-2 rounded-md text-navy text-base font-semibold focus-visible:outline-none;
  }
  .mainContainer {
    @apply md:mx-24 max-sm:mx-20 sm:mx-14 mt-10 pt-6 pb-20 max-sm:px-10 sm:px-20 shadow-lg bg-white;
  }
}

.h1-style {
  color: red;
}

.h2-style {
  color: blue;
}

.h3-style {
  color: brown;
}

.h4-style {
  color: cornflowerblue;
}

.h5-style {
  color: forestgreen;
}

.h6-style {
  color: palevioletred;
}
